.ecoregionPolygons {
	stroke: rgb(100, 100, 100);
	stroke-width: 0.5;
}

.top {
	stroke: #FF4CF0;
	stroke-width: 1.5;
}

.selected {
	stroke: #FF00E9;
	stroke-width: 2.5;
}

.tl { position: absolute; top: 0; left: 0; right: 40%; bottom: 30%; background: gray; border:solid #000; border-width: 0 3px 3px 0; }
.tr { position: absolute; top: 0; left: 60%; right: 0; bottom: 30%; background: #fff; border:solid #000; border-width: 0 0 3px 0; }
.b { position: absolute; top: 70%; left: 0; right: 0%; bottom: 0; background: #eff; }

#map {
	padding: 10px;
}

#list{
	height: 70%;
	overflow-y: scroll;
}

path { 
    stroke: #FF00E9;
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/*
p {
	font-size: 1.5em;
}

#title {
	padding-bottom: 20px;
}

#rangeSliderContainer {
	padding-bottom: 10px;
}



svg {
	mix-blend-mode: multiply;
	opacity: 0.7;
}*/
