p {
	font-size: 1.5em;
}

#title {
	padding-bottom: 20px;
}

#rangeSliderContainer {
	padding-bottom: 10px;
}

#ecoregions {
	height: 600px;
	width: 960px;
	background: url('/hillshade.png');
	background-repeat: no-repeat;
	background-size: contain;
}

svg {
	mix-blend-mode: multiply;
	opacity: 0.7;
}