.ecoregionPolygons {
	stroke: rgb(100, 100, 100);
	stroke-width: 0.5;
}

.top {
	stroke: #FF4CF0;
	stroke-width: 1.5;
}

.selected {
	stroke: #FF00E9;
	stroke-width: 2.5;
}

.b { position: absolute; top: 0; left: 0; right: 0; bottom: 10%; }
.t { position: absolute; top: 0; left: 0; right: 0; bottom: 100%; background: #000; }
.ml { position: absolute; top: 0%; left: 0; right: 45%; bottom: 40%; background: gray; }
.mr { position: absolute; top: 0%; left: 55%; right: 0; bottom: 40%; }
.bl { position: absolute; top: 60%; left: 0; right: 80%; bottom: 0; background: #efefef; }
.br { position: absolute; top: 60%; left: 20%; right: 0; bottom: 0; background: #efefef; }

h1 {
	font-size: 2em;
	position: absolute;
	text-align: left;
	left: 5%;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #000;
}

h2 { 
	position: absolute;
	text-align: right;
	right: 3%;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1.8em;
	color: #000;
	opacity: 0.3;
}

h3 { 
	text-align: left;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1.3em;
	color: #555;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    margin-bottom: 0.4em;
    margin-top: 0.6em;
}

p {
	margin: 2px;
	text-align: left;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1em;
	color: #555;
}

table { font-size: 0.85em; color: #555; }
.selectedRow { color: #CC00BA; }

.datesContainer { margin-left: auto; margin-right: auto; width: 80%; margin-bottom: 5px; margin-top: 2px; }

.dataLabel {
	font-size: 1em;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #000;
}

input { width: 7em; }

#map {
	padding: 10px;
}

#legend {
  position: absolute;
  bottom:0;
  left:0;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 13.5%;
}

#list{
	overflow-y: scroll;
}


/* GRAPH */

path { 
    stroke: #FF00E9;
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
  stroke: white;
}