.ecoregionPolygons {
	stroke: rgb(100, 100, 100);
	stroke-width: 0.5;
}

.top {
	stroke: #FF4CF0;
	stroke-width: 1.5;
}

.selected {
	stroke: #FF00E9;
	stroke-width: 2.5;
}

.b { position: absolute; top: 0; left: 0; right: 0; bottom: 10%; }
.ml { position: absolute; top: 0; left: 0; right: 40%; bottom: 30%; background: gray; }
.mr { position: absolute; top: 0; left: 60%; right: 0; bottom: 30%; background: #ddd; }
.bl { position: absolute; top: 70%; left: 0; right: 65%; bottom: 0; background: #e8e8e8; }
.br { position: absolute; top: 70%; left: 35%; right: 0; bottom: 0; background: #efefef; }

h1 {
	font-size: 2em;
	position: absolute;
	text-align: left;
	left: 5%;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #000;
}

h2 { 
	position: absolute;
	text-align: right;
	right: 3%;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1.8em;
	color: #000;
	opacity: 0.3;
}

p {
	margin: 2px;
	text-align: left;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: normal;
	color: #555;
}


.dateMin {
	position: relative;
	top: 40%;
	left: 15%;
}


.dateMax {
	position: relative;
	top: 40%;
	left: 65%;
}

p.dateText {
	position: absolute;
	top: 50%;
}

#map {
	padding: 10px;
}

#legend {
  position: absolute;
  bottom:0;
  left:0;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 13.5%;
}

#list{
	overflow-y: scroll;
}


/* GRAPH */

path { 
    stroke: #FF00E9;
    stroke-width: 1.5;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
  stroke: white;
}